-- Insert Games
INSERT INTO Games (Id, Title, Description, ImageUrl, MinPlayers, MaxPlayers, DifficultyLevel, AvailableQuantity, TotalQuantity)
VALUES 
    (NEWID(), 'Catan', 'A game of trading and building on the island of Catan.', 'https://cdn.ozone.bg/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/n/a/a8e6f5a45dce13a30317dcafc86aaa77/nastolna-igra-catan---semeyna-30.jpg', 3, 4, 3, 5, 10),
    (NEWID(), 'Ticket to Ride', 'A cross-country train adventure game.', 'https://cdn.ozone.bg/media/catalog/product/cache/1/image/800x996/a4e40ebdc3e371adff845072e1c73f37/n/a/74feb023e3d1e74fb65498dfee918c40/nastolna-igra-ticket-to-ride---evropa-30.jpg', 2, 5, 2, 8, 15),
    (NEWID(), 'Carcassonne', 'A tile-placement game with a medieval theme.', 'https://cdn.ozone.bg/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/n/a/9e93fa68f521932f2dcda734677a9590/nastolna-igra-karkason---golyama-kutiya-30-12-v-1---balgarsko-izdanie---semeyna-30.jpg', 2, 5, 1, 6, 10),
    (NEWID(), 'Pandemic', 'Work together to save the world from diseases.', 'https://cdn.ozone.bg/media/catalog/product/cache/1/image/400x498/a4e40ebdc3e371adff845072e1c73f37/n/a/5e7debe3a9c8cbb1ef99df24dbd51845/nastolna-igra-pandemic--the-cure---semeyna-30.jpg', 2, 4, 4, 7, 10),
    (NEWID(), 'Splendor', 'A card development game where players become merchants.', 'https://cdn.ozone.bg/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/s/p/a230ef0ceafb9abf227f3dfceda4c067/nastolna-igra-splendor---semeyna-30.jpg', 2, 4, 3, 10, 10);
